In [1]:
# These are the normal libraries

import pandas as pd
import numpy as np

# This is just so that we don't get annoying warnings
import warnings
warnings.filterwarnings('ignore')


# This is the most common viz library in python
import matplotlib.pyplot as plt
%matplotlib inline

# This one is the above on steroids
import seaborn as sns


from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score


# These Libs are for stats
import statsmodels.api as sm
from statsmodels.formula.api import ols



df = pd.read_csv(r"C:\Users\User\Desktop\iRonhack\Classes at Iron\Week 5\Day 3\lab-cleaning-numerical-data\files_for_lab\we_fn_use_c_marketing_customer_value_analysis.csv")

In [2]:
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

Import the necessary libraries load the data and start a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

Find all of the categorical data. Save it in a categorical_df variable.

In [3]:
df.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [4]:
categorical_df = df.select_dtypes(include='object')

In [5]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

Check for NaN values and decide what to do with them, do it now.

In [6]:
categorical_df.isnull().sum()

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

Check all unique values of columns.

In [7]:
for col in categorical_df:
    print(categorical_df[col].unique())

['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
['No' 'Yes']
['Basic' 'Extended' 'Premium']
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
['2/24/11' '1/31/11' '2/19/11' '1/20/11' '2/3/11' '1/25/11' '1/18/11'
 '1/26/11' '2/17/11' '2/21/11' '1/6/11' '2/6/11' '1/10/11' '1/17/11'
 '1/5/11' '2/27/11' '1/14/11' '1/21/11' '2/5/11' '1/29/11' '2/28/11'
 '2/12/11' '2/2/11' '2/7/11' '1/22/11' '2/13/11' '1/15/11' '1/8/11'
 '1/11/11' '1/28/11' '2/8/11' '2/23/11' '1/2/11' '2/16/11' '1/27/11'
 '1/23/11' '1/9/11' '2/11/11' '2/4/11' '2/1/11' '2/15/11' '2/26/11'
 '1/16/11' '1/1/11' '2/10/11' '1/24/11' '2/25/11' '1/12/11' '2/9/11'
 '1/19/11' '1/4/11' '2/14/11' '2/20/11' '2/18/11' '1/3/11' '1/13/11'
 '1/30/11' '2/22/11' '1/7/11']
['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
['F' 'M']
['Suburban' 'Rural' 'Urban']
['Married' 'Single' 'Divorced']
['Corporate Auto' 'Personal Auto' 'Special Auto']
['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
['Offer1' 'Offer3' 'Offer2' 'Offer4']
['Agent' 'Call Center' 'Web' 'Branch']
['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
['Medsize' 'Small' 'Large']

 Check dtypes. Do they all make sense as categorical data?

Effective To Date -  could be more useful as datetime object

Does any column contain alpha and numeric data? Decide how to clean it and do it now.

In [8]:
# I have decided to make it in numbers  by removing "Personal  L" or "Corporate L"

In [9]:
categorical_df_policy = categorical_df

In [10]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [11]:
categorical_df_policy['Policy'] = categorical_df_policy['Policy'].replace(regex=[r'\D+'], value="")

In [12]:
categorical_df_policy

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,3,Offer4,Call Center,Two-Door Car,Medsize

In [13]:
categorical_df_policy['Policy'] = categorical_df_policy['Policy'].astype(int)

In [14]:
categorical_df_policy['Policy'].dtypes

dtype('int32')

Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions and do it now.

In [15]:
# I would make response into 0 and 1, so it will be numeric as well

In [16]:
categorical_df_policy = pd.get_dummies(categorical_df_policy, columns=['Response'], drop_first=True)

In [17]:
categorical_df_policy

,Customer,State,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Response_Yes
0,BU79786,Washington,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,3,Offer1,Agent,Two-Door Car,Medsize,False
1,QZ44356,Arizona,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,3,Offer3,Agent,Four-Door Car,Medsize,False
2,AI49188,Nevada,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,3,Offer1,Agent,Two-Door Car,Medsize,False
3,WW63253,California,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,2,Offer1,Call Center,SUV,Medsize,False
4,HB64268,Washington,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,1,Offer1,Agent,Four-Door Car,Medsize,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,1,Offer2,Web,Four-Door Car,Medsize,False
9130,PK87824,California,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,3,Offer1,Branch,Four-Door Car,Medsize,True
9131,TD14365,California,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,2,Offer1,Branch,Four-Door Car,Medsize,False
9132,UP19263,California,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,2,Offer3,Branch,Four-Door Car,Large,False
9133,Y167826,California,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,3,Offer4,Call Center,Two-Door Car,Medsize,False

Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

In [18]:
categorical_df_policy['Policy Type'].unique()

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

In [19]:
categorical_df_policy['Policy'].unique()

array([3, 2, 1])

In [20]:
df['Policy'].unique()

array(['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
       'Special L2', 'Corporate L1', 'Personal L2', 'Special L1',
       'Special L3'], dtype=object)

Important is the policy number, there are 3 different policies for each 'Corporate Auto', 'Personal Auto', 'Special Auto'

Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

We could have nine unique values in one single column, instead of 2 columns with 3 and 9 unique values

In [21]:
categorical_df_policy['Combined'] = categorical_df_policy['Policy Type'].astype(str) + categorical_df_policy['Policy'].astype(str)

In [22]:
categorical_df_policy

,Customer,State,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Response_Yes,Combined
0,BU79786,Washington,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,3,Offer1,Agent,Two-Door Car,Medsize,False,Corporate Auto3
1,QZ44356,Arizona,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,3,Offer3,Agent,Four-Door Car,Medsize,False,Personal Auto3
2,AI49188,Nevada,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,3,Offer1,Agent,Two-Door Car,Medsize,False,Personal Auto3
3,WW63253,California,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,2,Offer1,Call Center,SUV,Medsize,False,Corporate Auto2
4,HB64268,Washington,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,1,Offer1,Agent,Four-Door Car,Medsize,False,Personal Auto1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,1,Offer2,Web,Four-Door Car,Medsize,False,Personal Auto1
9130,PK87824,California,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,3,Offer1,Branch,Four-Door Car,Medsize,True,Corporate Auto3
9131,TD14365,California,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,2,Offer1,Branch,Four-Door Car,Medsize,False,Corporate Auto2
9132,UP19263,California,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,2,Offer3,Branch,Four-Door Car,Large,False,Personal Auto2
9133,Y167826,California,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,3,Offer4,Call Center,Two-Door Car,Medsize,False,Corporate Auto3

In [23]:
categorical_df_policy['Combined'].unique()

array(['Corporate Auto3', 'Personal Auto3', 'Corporate Auto2',
       'Personal Auto1', 'Special Auto2', 'Corporate Auto1',
       'Personal Auto2', 'Special Auto1', 'Special Auto3'], dtype=object)

In [24]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].str.replace('Corporate Auto1', '1')

In [25]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].str.replace('Corporate Auto2', '2')

In [26]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].str.replace('Corporate Auto3', '3')

In [27]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].str.replace('Personal Auto1', '4')

In [28]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].str.replace('Personal Auto2', '5')

In [29]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].str.replace('Personal Auto3', '6')

In [30]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].str.replace('Special Auto1', '7')

In [31]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].str.replace('Special Auto2', '8')

In [32]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].str.replace('Special Auto3', '9')

In [33]:
categorical_df_policy['Combined'].unique()

array(['3', '6', '2', '4', '8', '1', '5', '7', '9'], dtype=object)

In [34]:
categorical_df_policy['Combined'] = categorical_df_policy['Combined'].astype(int)

In [35]:
categorical_df_policy['Combined'].unique()

array([3, 6, 2, 4, 8, 1, 5, 7, 9])

In [36]:
categorical_df_policy

,Customer,State,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Response_Yes,Combined
0,BU79786,Washington,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,3,Offer1,Agent,Two-Door Car,Medsize,False,3
1,QZ44356,Arizona,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,3,Offer3,Agent,Four-Door Car,Medsize,False,6
2,AI49188,Nevada,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,3,Offer1,Agent,Two-Door Car,Medsize,False,6
3,WW63253,California,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,2,Offer1,Call Center,SUV,Medsize,False,2
4,HB64268,Washington,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,1,Offer1,Agent,Four-Door Car,Medsize,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,1,Offer2,Web,Four-Door Car,Medsize,False,4
9130,PK87824,California,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,3,Offer1,Branch,Four-Door Car,Medsize,True,3
9131,TD14365,California,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,2,Offer1,Branch,Four-Door Car,Medsize,False,2
9132,UP19263,California,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,2,Offer3,Branch,Four-Door Car,Large,False,5
9133,Y167826,California,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,3,Offer4,Call Center,Two-Door Car,Medsize,False,3

Save the cleaned catagorical dataframe as categorical.csv You will use this file again this week.

In [37]:
categorical_df_policy.to_csv('categorical.csv')