In [42]:

import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')


import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm

In [43]:
data = pd.read_excel(r'C:\Users\haiss\Downloads\we_fn_use_c_marketing_customer_value_analysis.xlsx')
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2.763519e+09,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,3.848111e+08,Two-Door Car,Medsize
1,QZ44356,Arizona,6.979536e+09,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1.131465e+09,Four-Door Car,Medsize
2,AI49188,Nevada,1.288743e+09,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,5.664722e+08,Two-Door Car,Medsize
3,WW63253,California,7.645862e+09,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,5.298813e+08,SUV,Medsize
4,HB64268,Washington,2.813693e+09,No,Basic,Bachelor,2011-03-02 00:00:00,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,1.381309e+08,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,2.340599e+09,No,Basic,Bachelor,2011-10-02 00:00:00,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,1.982348e+08,Four-Door Car,Medsize
9130,PK87824,California,3.096511e+09,Yes,Extended,College,2011-12-02 00:00:00,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,3.792000e+02,Four-Door Car,Medsize
9131,TD14365,California,8.163890e+09,No,Extended,Bachelor,2011-06-02 00:00:00,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,7.907850e+08,Four-Door Car,Medsize
9132,UP19263,California,7.524442e+09,No,Extended,College,2011-03-02 00:00:00,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,6.912000e+02,Four-Door Car,Large
9133,Y167826,California,2.611837e+09,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,3.696000e+02,Two-Door Car,Medsize

In [44]:
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower().replace(" ","_"))
data.columns = cols
data

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2.763519e+09,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,3.848111e+08,Two-Door Car,Medsize
1,QZ44356,Arizona,6.979536e+09,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1.131465e+09,Four-Door Car,Medsize
2,AI49188,Nevada,1.288743e+09,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,5.664722e+08,Two-Door Car,Medsize
3,WW63253,California,7.645862e+09,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,5.298813e+08,SUV,Medsize
4,HB64268,Washington,2.813693e+09,No,Basic,Bachelor,2011-03-02 00:00:00,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,1.381309e+08,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,2.340599e+09,No,Basic,Bachelor,2011-10-02 00:00:00,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,1.982348e+08,Four-Door Car,Medsize
9130,PK87824,California,3.096511e+09,Yes,Extended,College,2011-12-02 00:00:00,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,3.792000e+02,Four-Door Car,Medsize
9131,TD14365,California,8.163890e+09,No,Extended,Bachelor,2011-06-02 00:00:00,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,7.907850e+08,Four-Door Car,Medsize
9132,UP19263,California,7.524442e+09,No,Extended,College,2011-03-02 00:00:00,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,6.912000e+02,Four-Door Car,Large
9133,Y167826,California,2.611837e+09,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,3.696000e+02,Two-Door Car,Medsize

### Find all of the categorical data. Save it in a categorical_df variable.

In [45]:
data_cat = data.select_dtypes(include = object)
data_cat

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2011-03-02 00:00:00,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2011-10-02 00:00:00,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2011-12-02 00:00:00,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2011-06-02 00:00:00,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2011-03-02 00:00:00,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

### Check for NaN values and decide what to do with them, do it now.

In [46]:
data_cat.isna().sum()

customer             0
state                0
response             0
coverage             0
education            0
effective_to_date    0
employmentstatus     0
gender               0
location_code        0
marital_status       0
policy_type          0
policy               0
renew_offer_type     0
sales_channel        0
vehicle_class        0
vehicle_size         0
dtype: int64

### Check all unique values of columns.

In [47]:
data_unique = ['customer','state','response',             
'coverage','education','effective_to_date','employmentstatus','gender','location_code','marital_status','policy_type','policy','renew_offer_type','sales_channel','vehicle_class','vehicle_size']
for column in data_unique:
    unique_values = data_cat[column].unique()
    print(f" {column}:")
    print(unique_values)
    print()

 customer:
['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']

 state:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']

 response:
['No' 'Yes']

 coverage:
['Basic' 'Extended' 'Premium']

 education:
['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']

 effective_to_date:
['2/24/11' '1/31/11' '2/19/11' '1/20/11'
 datetime.datetime(2011, 3, 2, 0, 0) '1/25/11' '1/18/11' '1/26/11'
 '2/17/11' '2/21/11' datetime.datetime(2011, 6, 1, 0, 0)
 datetime.datetime(2011, 6, 2, 0, 0) datetime.datetime(2011, 10, 1, 0, 0)
 '1/17/11' datetime.datetime(2011, 5, 1, 0, 0) '2/27/11' '1/14/11'
 '1/21/11' datetime.datetime(2011, 5, 2, 0, 0) '1/29/11' '2/28/11'
 datetime.datetime(2011, 12, 2, 0, 0) datetime.datetime(2011, 2, 2, 0, 0)
 datetime.datetime(2011, 7, 2, 0, 0) '1/22/11' '2/13/11' '1/15/11'
 datetime.datetime(2011, 8, 1, 0, 0) datetime.datetime(2011, 11, 1, 0, 0)
 '1/28/11' datetime.datetime(2011, 8, 2, 0, 0) '2/23/11'
 datetime.datetime(2011, 2, 1, 0, 0) '2/16/11' '1/27/11' '1/23/11'
 datetime.datetime(2011, 9, 1, 0, 0) datetime.datetime(2011, 11, 2, 0, 0)
 datetime.datetime(2011, 4, 2, 0, 0) datetime.datetime(2011, 1, 2, 0, 0)
 '2/15/11' '2/26/11' '1/16/11' datetime.datetime(2011, 1, 1, 0, 0)
 datetime.datetime(2011, 10, 2, 0, 0) '1/24/11' '2/25/11'
 datetime.datetime(2011, 12, 1, 0, 0) datetime.datetime(2011, 9, 2, 0, 0)
 '1/19/11' datetime.datetime(2011, 4, 1, 0, 0) '2/14/11' '2/20/11'
 '2/18/11' datetime.datetime(2011, 3, 1, 0, 0) '1/13/11' '1/30/11'
 '2/22/11' datetime.datetime(2011, 7, 1, 0, 0)]

 employmentstatus:
['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']

 gender:
['F' 'M']

 location_code:
['Suburban' 'Rural' 'Urban']

 marital_status:
['Married' 'Single' 'Divorced']

 policy_type:
['Corporate Auto' 'Personal Auto' 'Special Auto']

 policy:
['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']

 renew_offer_type:
['Offer1' 'Offer3' 'Offer2' 'Offer4']

 sales_channel:
['Agent' 'Call Center' 'Web' 'Branch']

 vehicle_class:
['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']

 vehicle_size:
['Medsize' 'Small' 'Large']

### Check dtypes. Do they all make sense as categorical data?

In [48]:
data_cat.dtypes

customer             object
state                object
response             object
coverage             object
education            object
effective_to_date    object
employmentstatus     object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

### Does any column contain alpha and numeric data? Decide how to clean it and do it now.

 Yes, the columns 'customer', 'policy' and 'renew_offer_type' contain alpha and numeric data. 
 
 I decide to drop the column 'policy' because 'policy_type' give us the same information. 

 I'm gonna keep 'customer' since I think that will be helpfull to identify customers

 I'm gonna also change the data type of 'renew_offer_type' to numericals only.

In [49]:
data_dropped = data_cat.drop('policy', axis=1)
data_dropped

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2011-03-02 00:00:00,Employed,M,Rural,Single,Personal Auto,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2011-10-02 00:00:00,Employed,M,Urban,Married,Personal Auto,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2011-12-02 00:00:00,Employed,F,Suburban,Divorced,Corporate Auto,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2011-06-02 00:00:00,Unemployed,M,Suburban,Single,Corporate Auto,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2011-03-02 00:00:00,Employed,M,Suburban,Married,Personal Auto,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Offer4,Call Center,Two-Door Car,Medsize

In [50]:
#Function to extract only numeric values and aplying the function in 'renew_offer_type' column.

def keep_numeric(series):
    return series.str.replace(r'\D', '', regex=True)

data_cat['renew_offer_type'] = keep_numeric(data_cat['renew_offer_type'])
data_cat['renew_offer_type'] = pd.to_numeric(data_cat['renew_offer_type'], errors='coerce')
data_cat

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2011-03-02 00:00:00,Employed,M,Rural,Single,Personal Auto,Personal L1,1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2011-10-02 00:00:00,Employed,M,Urban,Married,Personal Auto,Personal L1,2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2011-12-02 00:00:00,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2011-06-02 00:00:00,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2011-03-02 00:00:00,Employed,M,Suburban,Married,Personal Auto,Personal L2,3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,4,Call Center,Two-Door Car,Medsize

### Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

They give us the same information. I think that the important thing is just to know the polyce type.

### Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

In [55]:
# Idecide to change the column 'effective_to_date' to a data only with date 
data_cat['effective_to_date'] = pd.to_datetime(data_cat['effective_to_date'])
data_cat['effective_date'] = data_cat['effective_to_date'].dt.date
data_cat

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,effective_date
0,BU79786,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,1,Agent,Two-Door Car,Medsize,2011-02-24
1,QZ44356,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,3,Agent,Four-Door Car,Medsize,2011-01-31
2,AI49188,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal L3,1,Agent,Two-Door Car,Medsize,2011-02-19
3,WW63253,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,1,Call Center,SUV,Medsize,2011-01-20
4,HB64268,Washington,No,Basic,Bachelor,2011-03-02,Employed,M,Rural,Single,Personal Auto,Personal L1,1,Agent,Four-Door Car,Medsize,2011-03-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2011-10-02,Employed,M,Urban,Married,Personal Auto,Personal L1,2,Web,Four-Door Car,Medsize,2011-10-02
9130,PK87824,California,Yes,Extended,College,2011-12-02,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,1,Branch,Four-Door Car,Medsize,2011-12-02
9131,TD14365,California,No,Extended,Bachelor,2011-06-02,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,1,Branch,Four-Door Car,Medsize,2011-06-02
9132,UP19263,California,No,Extended,College,2011-03-02,Employed,M,Suburban,Married,Personal Auto,Personal L2,3,Branch,Four-Door Car,Large,2011-03-02
9133,Y167826,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,4,Call Center,Two-Door Car,Medsize,2011-02-14

### Save the numerical_df to csv as numerical.csv You will use this file again this week.

In [ ]:
data_cat.to_csv(r'