# Data Analysis Process

# Remember the process:

Case Study

Get data

Cleaning/Wrangling/EDA

Processing Data

Modeling -Validation

Reporting

# Instructions
1.Import the necessary libraries load the data and start a new notebook. Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

2.Find all of the categorical data. Save it in a categorical_df variable.

3.Check for NaN values and decide what to do with them, do it now.

4.Check all unique values of columns.

5.Check dtypes. Do they all make sense as categorical data?

6.Does any column contain alpha and numeric data? Decide how to clean it and do it now.

7.Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions and do it now.

8.Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

9.Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

10.Save the cleaned catagorical dataframe as categorical.csv You will use this file again this week.

1.Import the necessary libraries.

In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [145]:
data = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

2.Find all of the categorical data. Save it in a categorical_df variable.

In [146]:
categorical_df = data.select_dtypes(object)

In [147]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

3.Check for NaN values and decide what to do with them, do it now.

In [148]:
(categorical_df.isna().sum()/len(categorical_df)).sort_values(ascending=False)

Customer             0.0
State                0.0
Response             0.0
Coverage             0.0
Education            0.0
Effective To Date    0.0
EmploymentStatus     0.0
Gender               0.0
Location Code        0.0
Marital Status       0.0
Policy Type          0.0
Policy               0.0
Renew Offer Type     0.0
Sales Channel        0.0
Vehicle Class        0.0
Vehicle Size         0.0
dtype: float64

There are no null values

4.Check all unique values of columns.

In [149]:
categorical_df.nunique()

Customer             9134
State                   5
Response                2
Coverage                3
Education               5
Effective To Date      59
EmploymentStatus        5
Gender                  2
Location Code           3
Marital Status          3
Policy Type             3
Policy                  9
Renew Offer Type        4
Sales Channel           4
Vehicle Class           6
Vehicle Size            3
dtype: int64

5.Check dtypes. Do they all make sense as categorical data?

In [150]:
categorical_df.dtypes

Customer             object
State                object
Response             object
Coverage             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

In [151]:
categorical_df['Effective To Date']= pd.to_datetime(categorical_df['Effective To Date'])

In [152]:
categorical_df.dtypes

Customer                     object
State                        object
Response                     object
Coverage                     object
Education                    object
Effective To Date    datetime64[ns]
EmploymentStatus             object
Gender                       object
Location Code                object
Marital Status               object
Policy Type                  object
Policy                       object
Renew Offer Type             object
Sales Channel                object
Vehicle Class                object
Vehicle Size                 object
dtype: object

6.Does any column contain alpha and numeric data? Decide how to clean it and do it now.

In [153]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [154]:
categorical_df.columns

Index(['Customer', 'State', 'Response', 'Coverage', 'Education',
       'Effective To Date', 'EmploymentStatus', 'Gender', 'Location Code',
       'Marital Status', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [155]:
categorical_df['customer_id'] = categorical_df['Customer'].str.extract('(\d+)')
categorical_df['Customer'] = categorical_df['Customer'].str.replace('\d+', '')

/var/folders/13/xty849950wj5f71_v7v6vysc0000gn/T/ipykernel_53499/1352036501.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  categorical_df['Customer'] = categorical_df['Customer'].str.replace('\d+', '')

In [156]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,customer_id
0,BU,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize,79786
1,QZ,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize,44356
2,AI,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize,49188
3,WW,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize,63253
4,HB,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize,64268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize,72316
9130,PK,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize,87824
9131,TD,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize,14365
9132,UP,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large,19263
9133,Y,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize,167826

In [157]:
categorical_df[['policy', 'policy Alpha']] = categorical_df['Policy'].str.split(expand=True)
categorical_df['Policy'] = categorical_df['policy']
categorical_df.drop(['policy'],axis=1,inplace=True)

In [158]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,customer_id,policy Alpha
0,BU,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate,Offer1,Agent,Two-Door Car,Medsize,79786,L3
1,QZ,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal,Offer3,Agent,Four-Door Car,Medsize,44356,L3
2,AI,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal,Offer1,Agent,Two-Door Car,Medsize,49188,L3
3,WW,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate,Offer1,Call Center,SUV,Medsize,63253,L2
4,HB,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal,Offer1,Agent,Four-Door Car,Medsize,64268,L1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal Auto,Personal,Offer2,Web,Four-Door Car,Medsize,72316,L1
9130,PK,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate,Offer1,Branch,Four-Door Car,Medsize,87824,L3
9131,TD,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate,Offer1,Branch,Four-Door Car,Medsize,14365,L2
9132,UP,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal,Offer3,Branch,Four-Door Car,Large,19263,L2
9133,Y,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate,Offer4,Call Center,Two-Door Car,Medsize,167826,L3

In [159]:
categorical_df['Renew Offer Type_num'] = categorical_df['Renew Offer Type'].str.extract('(\d+)')
categorical_df['Renew Offer Type'] = categorical_df['Renew Offer Type'].str.replace('\d+', '')

/var/folders/13/xty849950wj5f71_v7v6vysc0000gn/T/ipykernel_53499/2698511212.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  categorical_df['Renew Offer Type'] = categorical_df['Renew Offer Type'].str.replace('\d+', '')

In [160]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,customer_id,policy Alpha,Renew Offer Type_num
0,BU,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate,Offer,Agent,Two-Door Car,Medsize,79786,L3,1
1,QZ,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal,Offer,Agent,Four-Door Car,Medsize,44356,L3,3
2,AI,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal,Offer,Agent,Two-Door Car,Medsize,49188,L3,1
3,WW,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate,Offer,Call Center,SUV,Medsize,63253,L2,1
4,HB,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal,Offer,Agent,Four-Door Car,Medsize,64268,L1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal Auto,Personal,Offer,Web,Four-Door Car,Medsize,72316,L1,2
9130,PK,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate,Offer,Branch,Four-Door Car,Medsize,87824,L3,1
9131,TD,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate,Offer,Branch,Four-Door Car,Medsize,14365,L2,1
9132,UP,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal,Offer,Branch,Four-Door Car,Large,19263,L2,3
9133,Y,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate,Offer,Call Center,Two-Door Car,Medsize,167826,L3,4

7.Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions and do it now.

In [161]:
categorical_df.nunique()

Customer                 677
State                      5
Response                   2
Coverage                   3
Education                  5
Effective To Date         59
EmploymentStatus           5
Gender                     2
Location Code              3
Marital Status             3
Policy Type                3
Policy                     3
Renew Offer Type           1
Sales Channel              4
Vehicle Class              6
Vehicle Size               3
customer_id             8688
policy Alpha               3
Renew Offer Type_num       4
dtype: int64

In [162]:
categorical_df.drop(['customer_id'],axis=1,inplace=True) # Have a lot of unique values

In [163]:
categorical_df.drop(['policy Alpha'],axis=1,inplace=True) # The column is not significante to the model

In [164]:
categorical_df.drop(['Renew Offer Type'],axis=1,inplace=True)  # The column is not significante to the model

In [165]:
categorical_df

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Sales Channel,Vehicle Class,Vehicle Size,Renew Offer Type_num
0,BU,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate,Agent,Two-Door Car,Medsize,1
1,QZ,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal,Agent,Four-Door Car,Medsize,3
2,AI,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal,Agent,Two-Door Car,Medsize,1
3,WW,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate,Call Center,SUV,Medsize,1
4,HB,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal,Agent,Four-Door Car,Medsize,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal Auto,Personal,Web,Four-Door Car,Medsize,2
9130,PK,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate,Branch,Four-Door Car,Medsize,1
9131,TD,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate,Branch,Four-Door Car,Medsize,1
9132,UP,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal,Branch,Four-Door Car,Large,3
9133,Y,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate,Call Center,Two-Door Car,Medsize,4

8.Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

In [166]:
categorical_df['Policy Type'].value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

In [167]:
categorical_df['Policy'].value_counts()

Personal     6788
Corporate    1968
Special       378
Name: Policy, dtype: int64

In this two columns the most importante is if the policy is Personal, Corporate or Special. So i can drop the "Policy Type" column because ia take the same information from on "Policy" column.

9.Check number of unique values in each column, can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

The Customer column has 677 and Effective To Date has 59 unique values, which makes it hard to encode it without adding too many features.
So  in the case of Customer column is better to drop and extract the Year form the Effective to Date and create a new column. After this, all columns stay with lower unique values and it makes more easier to encode.

In [168]:
categorical_df.nunique()

Customer                677
State                     5
Response                  2
Coverage                  3
Education                 5
Effective To Date        59
EmploymentStatus          5
Gender                    2
Location Code             3
Marital Status            3
Policy Type               3
Policy                    3
Sales Channel             4
Vehicle Class             6
Vehicle Size              3
Renew Offer Type_num      4
dtype: int64

In [169]:
categorical_df.drop(['Customer'],axis=1,inplace=True)

In [172]:
categorical_df['Year'] = categorical_df['Effective To Date'].dt.year

In [173]:
categorical_df.drop(['Effective To Date'],axis=1,inplace=True)

In [174]:
categorical_df.nunique()

State                   5
Response                2
Coverage                3
Education               5
EmploymentStatus        5
Gender                  2
Location Code           3
Marital Status          3
Policy Type             3
Policy                  3
Sales Channel           4
Vehicle Class           6
Vehicle Size            3
Renew Offer Type_num    4
Year                    1
dtype: int64

10.Save the cleaned catagorical dataframe as categorical.csv You will use this file again this week.

In [175]:
categorical_df.to_csv("categorical.csv")