In [17]:
import pandas as pd

In [18]:
data = pd.read_csv("we_fn_use_c_marketing_customer_value_analysis.csv")

2

In [19]:
data.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [20]:
categorical_df = data.select_dtypes(include='object')

In [21]:
categorical_df.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

3

In [22]:
categorical_df.isnull().value_counts()

Customer  State  Response  Coverage  Education  Effective To Date  EmploymentStatus  Gender  Location Code  Marital Status  Policy Type  Policy  Renew Offer Type  Sales Channel  Vehicle Class  Vehicle Size
False     False  False     False     False      False              False             False   False          False           False        False   False             False          False          False           9134
dtype: int64

4

In [24]:
for col in categorical_df.columns:
    print(col + ":  ")
    print(categorical_df[col].value_counts())

Customer:
BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: Customer, Length: 9134, dtype: int64
State:
California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64
Response:
No     7826
Yes    1308
Name: Response, dtype: int64
Coverage:
Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64
Education:
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64
Effective To Date:
1/10/11    195
1/27/11    194
2/14/11    186
1/26/11    181
1/17/11    180
1/19/11    179
1/31/11    178
1/3/11     178
1/20/11    173
2/26/11    169
1/28/11    169
2/19/11    168
1/5/11     167
2/27/11    167
1/11/11    166
2/4/11     164
2/10/11    161
2/28/11    161
1/2/11     160
1/21/11    160
1/29/11    160
2/22/11    158
2/5/11     158
2/3/11     158
2/7/11     157
2/12/11    156
1/23/11    155
2/1/11     154
1/18/11    154
1/15/11    153
1/14/11    152
2/11/11    151
1/7/11     151
1/25/11    151
2/25/11    149
1/8/11     149
2/18/11    149
2/2/11     149
1/1/11     148
2/21/11    148
1/24/11    147
1/9/11     146
1/30/11    145
1/13/11    145
2/6/11     144
1/6/11     143
2/23/11    143
1/16/11    142
2/16/11    139
2/13/11    139
2/24/11    139
2/9/11     137
2/17/11    136
1/22/11    136
2/8/11     134
2/20/11    132
2/15/11    130
1/12/11    126
1/4/11     115
Name: Effective To Date, dtype: int64
EmploymentStatus:
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64
Gender:
F    4658
M    4476
Name: Gender, dtype: int64
Location Code:
Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64
Marital Status:
Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64
Policy Type:
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64
Policy:
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64
Renew Offer Type:
Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64
Sales Channel:
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64
Vehicle Class:
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64
Vehicle Size:
Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

5

In [28]:
categorical_df.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

No, Customer & Effective To Date do not

6

In [30]:
categorical_df = categorical_df.drop(['Customer', 'Effective To Date'], axis=1)

7

In [40]:
categorical_df['Policy'].value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

In [41]:
personal_mask = categorical_df['Policy'].str.contains('Personal')
corporate_mask = categorical_df['Policy'].str.contains('Corporate')
special_mask = categorical_df['Policy'].str.contains('Special')

categorical_df.loc[personal_mask, 'Policy'] = 'Personal'
categorical_df.loc[corporate_mask, 'Policy'] = 'Corporate'
categorical_df.loc[special_mask, 'Policy'] = 'Special'

In [42]:
categorical_df['Policy'].value_counts()

Personal     6788
Corporate    1968
Special       378
Name: Policy, dtype: int64

8

In [43]:
categorical_df['Policy'].value_counts()

Personal     6788
Corporate    1968
Special       378
Name: Policy, dtype: int64

In [44]:
categorical_df['Policy Type'].value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

In [48]:
categorical_df[['Policy', 'Policy Type']]

         Policy     Policy Type
0     Corporate  Corporate Auto
1      Personal   Personal Auto
2      Personal   Personal Auto
3     Corporate  Corporate Auto
4      Personal   Personal Auto
...         ...             ...
9129   Personal   Personal Auto
9130  Corporate  Corporate Auto
9131  Corporate  Corporate Auto
9132   Personal   Personal Auto
9133  Corporate  Corporate Auto

[9134 rows x 2 columns]

They have the same values

In [50]:
categorical_df = categorical_df.drop(['Policy Type'], axis = 1)

9

Usually, to easen the encoding process values can be grouped, like I did previously for Policy, but in this case, there are no categorical columns with too many different unique values, so it is not worth it to combine them

In [51]:
categorical_df.to_csv('categorical_df.csv', index=False)