In [ ]:
'''# Lab | Cleaning categorical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in `files_for_lab` folder. In this lab we will explore categorical data.

## Data Analysis Process
#### Remember the process:

- Case Study
- **Get data**
- **Cleaning/Wrangling/EDA**
- Processing Data
- Modeling
 -Validation
- Reporting

### Instructions

1. Import the necessary libraries load the data and start a new notebook.
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

2. Find  all of the categorical data.  Save it in a categorical_df variable.

3. Check for NaN values and decide what to do with them, do it now.

4. Check all unique values of columns.

5. Check dtypes. Do they all make sense as categorical data?

6. Does any column contain alpha and numeric data?  Decide how to clean it and do it now.

7. Would you choose to do anything else to clean or wrangle the categorical data?  Comment your decisions and do it now.

8. Compare policy_type and policy.  What information is contained in these columns.  Can you identify what is important?  

9. Check number of unique values in each column, can they be combined in any way to ease encoding?  Comment your thoughts and make those changes.

10.  Save the cleaned catagorical dataframe as categorical.csv   You will use this file again this week.'''

In [7]:
import imblearn

# These are the normal libraries
import pandas as pd
import numpy as np

# This is just so that we don't get annoying warnings
import warnings
warnings.filterwarnings('ignore')

# This is the most common viz library in python
import matplotlib.pyplot as plt
%matplotlib inline

# This one is the above on steroids
import seaborn as sns

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

# These Libs are for stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.linear_model import LogisticRegression

import statsmodels.api as sm

In [10]:
df = pd.read_csv(r"C:\Users\filip\OneDrive\Desktop\IRONHACK\Labs\Week5\lab-cleaning-categorical-data\files_for_lab\we_fn_use_c_marketing_customer_value_analysis.csv")

cols = []
for i in range(len(df.columns)):
    cols.append(df.columns[i].lower().replace(' ','_'))
df.columns = cols

df.dtypes # Checking data types

categorical_df = df.select_dtypes(include=['object']) #Saving categorical columns into df

categorical_df.isna().sum() #Checking for null values/No null values

# Checking unique values in each column
categorical_df['customer'].unique() #Categorical
categorical_df['state'].unique() #Categorical
categorical_df['response'].unique() #Categorical
categorical_df['coverage'].unique() #Categorical
categorical_df['education'].unique() #Categorical
categorical_df['effective_to_date'].unique() #Date Time
categorical_df['employmentstatus'].unique() #Categorical
categorical_df['gender'].unique() #Categorical
categorical_df['location_code'].unique() #Categorical
categorical_df['marital_status'].unique() #Categorical
categorical_df['policy_type'].unique() #Categorical
categorical_df['policy'].unique() #Categorical
categorical_df['renew_offer_type'].unique() #Categorical
categorical_df['sales_channel'].unique() #Categorical
categorical_df['vehicle_class'].unique() #Categorical
categorical_df['vehicle_size'].unique() #Categorical

# will drop effective_to_date and later if needed will convert to datetime on the original df

categorical_df = categorical_df.drop(['effective_to_date'], axis = 1)

# will also drop customer because it doesn't really give us any information

categorical_df = categorical_df.drop(['customer'], axis = 1)

categorical_df['policy_type'].unique() #Categorical

'''policy_type has the following unique values:['Corporate Auto', 'Personal Auto', 'Special Auto']

   policy has the following unique values:['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
    'Special L2', 'Corporate L1', 'Personal L2', 'Special L1','Special L3']
    
It appears that the values in policy are the same as in policy_type but broken down into subtypes, more detailed information.

I would drop policy if in need to drop one of the two''' 

# Variables I would chose to hot encode
categorical_df['response'].unique()
categorical_df['coverage'].unique()
categorical_df['gender'].unique()
categorical_df['location_code'].unique()
categorical_df['marital_status'].unique()
categorical_df['policy_type'].unique()
categorical_df['vehicle_size'].unique()

# In my opinion these columns have too many values to hot encode, will drop for now
categorical_df['state'].unique()
categorical_df['education'].unique()
categorical_df['employmentstatus'].unique()
categorical_df['policy'].unique()
categorical_df['renew_offer_type'].unique()
categorical_df['sales_channel'].unique()
categorical_df['vehicle_class'].unique()

categorical_df = categorical_df.drop(['state','education','employmentstatus','policy','renew_offer_type','sales_channel','vehicle_class'], axis = 1)

# One hot encoding chosen columns

categorical_df = pd.get_dummies(categorical_df, drop_first=True)
categorical_df

,response_Yes,coverage_Extended,coverage_Premium,gender_M,location_code_Suburban,location_code_Urban,marital_status_Married,marital_status_Single,policy_type_Personal Auto,policy_type_Special Auto,vehicle_size_Medsize,vehicle_size_Small
0,0,0,0,0,1,0,1,0,0,0,1,0
1,0,1,0,0,1,0,0,1,1,0,1,0
2,0,0,1,0,1,0,1,0,1,0,1,0
3,0,0,0,1,1,0,1,0,0,0,1,0
4,0,0,0,1,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0,0,0,1,0,1,1,0,1,0,1,0
9130,1,1,0,0,1,0,0,0,0,0,1,0
9131,0,1,0,1,1,0,0,1,0,0,1,0
9132,0,1,0,1,1,0,1,0,1,0,0,0
9133,0,1,0,1,1,0,0,1,0,0,1,0

In [13]:
# Saving the data frame

categorical_df.to_csv('Categorical DF.csv', index = False)