In [84]:
import pandas as pd 
import numpy as np

In [85]:
customer_df = pd.read_csv("/Users/giacomorossini/Desktop/IRONHACK/Laboratory/LAB11.2/lab-cleaning-categorical-data/files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv")

In [86]:
def transformation (df):
    cols=[]
    for i in range(len(df.columns)):
        cols.append(df.columns[i].lower().replace(' ','_'))
    df.columns=cols
    
transformation(customer_df)

In [87]:
#getting categorical data

categorical_df = customer_df.select_dtypes(exclude = np.number)
categorical_df.columns

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size'],
      dtype='object')

In [89]:
# 3. Check for NaN values and decide what to do with them, do it now.
categorical_df.isnull().sum()

customer             0
state                0
response             0
coverage             0
education            0
effective_to_date    0
employmentstatus     0
gender               0
location_code        0
marital_status       0
policy_type          0
policy               0
renew_offer_type     0
sales_channel        0
vehicle_class        0
vehicle_size         0
dtype: int64

In [90]:
#4. Check all unique values of columns.

for column in categorical_df.columns:
    unique = len(set(categorical_df[column])) #go to the column list, set return unique values and the store the length
    print(column,':',unique)

customer : 9134
state : 5
response : 2
coverage : 3
education : 5
effective_to_date : 59
employmentstatus : 5
gender : 2
location_code : 3
marital_status : 3
policy_type : 3
policy : 9
renew_offer_type : 4
sales_channel : 4
vehicle_class : 6
vehicle_size : 3

In [91]:
# 5. Check dtypes. Do they all make sense as categorical data?
#Categorical data often includes values and observations that can be categorized or grouped. 
#Effective_date should be time_frame value 
categorical_df.dtypes

customer             object
state                object
response             object
coverage             object
education            object
effective_to_date    object
employmentstatus     object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

In [95]:
# 6. Does any column contain alpha and numeric data?  Decide how to clean it and do it now.
#customer + policy and renew_offer_type. the second and third could give us info regarding preference or prevision 
#while the first is to granulate to give use some sort of valuable point
#dropped policy_type --> cloned policy
categorical_df = categorical_df.drop(['customer','policy_type'], axis = 1)

In [96]:
#column wrangled --> integer to drop from obj df
categorical_df['renew_offer_type']= np.where(categorical_df['renew_offer_type']=='Offer1', 1, np.where(categorical_df['renew_offer_type']=='Offer2',2,np.where(categorical_df['renew_offer_type']=='Offer3',3,4)))
categorical_df['effective_to_date']= pd.to_datetime(categorical_df['effective_to_date'])

In [104]:
categorical_df_wrangled = categorical_df.select_dtypes(include = object)

In [ ]:
#7. Would you choose to do anything else to clean or wrangle the categorical data? 
#Comment your decisions and do it now.
# info is cleaned after 6.

In [83]:
#8. Compare policy_type and policy.  What information is contained in these columns. 
#Can you identify what is important?
#policy has more granularity and can give more info that's why i dropped before policy_type

In [98]:
# 9) Check number of unique values in each column.
count = 0
for column in categorical_df_wrangled.columns.values:
    print(categorical_df_wrangled.columns.values[count], "unique values:", categorical_df_wrangled.iloc[:,count].unique())
    count += 1

state unique values: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
response unique values: ['No' 'Yes']
coverage unique values: ['Basic' 'Extended' 'Premium']
education unique values: ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
employmentstatus unique values: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
gender unique values: ['F' 'M']
location_code unique values: ['Suburban' 'Rural' 'Urban']
marital_status unique values: ['Married' 'Single' 'Divorced']
policy unique values: ['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
sales_channel unique values: ['Agent' 'Call Center' 'Web' 'Branch']
vehicle_class unique values: ['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
vehicle_size unique values: ['Medsize' 'Small' 'Large']

In [101]:
for column in categorical_df_wrangled.columns:
    unique = len(set(categorical_df_wrangled[column]))
    print(column,':',unique)
#possible to one-hot_encoding

state : 5
response : 2
coverage : 3
education : 5
employmentstatus : 5
gender : 2
location_code : 3
marital_status : 3
policy : 9
sales_channel : 4
vehicle_class : 6
vehicle_size : 3

In [100]:
# 10. Save the cleaned catagorical dataframe as categorical.csv
categorical_df_wrangled.to_csv("/Users/giacomorossini/Desktop/IRONHACK/Laboratory/LAB11.2/lab-cleaning-categorical-data/categorical_df_wrangled.csv")